@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* Universals */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: scroll;
}
body{
    background-color: #333333;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'STIX Two Text', serif;
    font-weight: bold;
    font-size: 2em;
    color: #FFFFFF;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
}

p{
    font-family: "Georama", sans-serif;
    font-size: 1em;
    color: #FFFFFF;
}

svg{
    display: inline-block;
    transition: .5s;
}

.opening-section, .talents-ascension-section, 
.image-video-section, .combat-section, 
.title-section, .constellation-section{
    height: 100vh;
    scroll-snap-align: start;
}


/* Opening/Titles Section */
.opening-section, .title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.opening-section h1, .title-section h1{
    font-size: 4em;
}
.opening-section p{
    font-size: 1.5em;
    color: #F5F5F5;
    padding: .5em;
}
.title-section h2{
    font-size: 3.5em;
}

/* Image Video & Containers */
.image-video-container{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.image-video-container video, .image-video-container img{
    max-width: 100%;
    height: auto;
    display: block;
}

.container{
    width: 60%;
    margin: 0 auto;
}


/* Talents/Ascension Materials */
.talents-ascension-section {
    scroll-snap-align: center;
    display: flex;
    margin: 5em 0em;
    background:
}

.talents-ascension-section svg{
    position: absolute;
    left: 0;
    z-index: -1;
}

.ganyu-splash{
    width: 70%;
    height: auto;
    overflow: hidden;
}
.ganyu-splash img{
    max-height: 95%;
    display: block;
    position: absolute;
    left: 0;
    z-index: -1;
}

.talents-ascension{
    display: block;
    width: 80%;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 3em;
    padding: 0 3em;
}

.talents-ascension h2{
    font-size: 2em;
    border-bottom: 1px solid #FFFFFF;
}

.monster, .shivada, .books{
    display: flex;
    justify-items: center;
    height: 9em;
}
.item{
    display: flex; 
    flex-direction: column;
    justify-content: center;
}
.item-name{
    color: #FFFFFF;
}
.item-name strong{
    color: #faf4b7;
}
.talents-ascension .item img{
    max-width: 100%;
    max-height: 60%;
    display: block;
    margin: 0 auto;
    transition: .3s;
}
.talents-ascension .item p{
    font-size: 1em;
    color: #FFFFFF;
    text-align: center;
}

/* Mid Video Section */
.image-video-section{
    padding: 6em 0em;
    background: #333333;
}
.image-video-section svg{
    padding: 0em 8.5em;
}
.image-video-section video{
    display: none;
}
.image-video-section p{
    font-family: 'STIX Two Text', serif;
    color: #ff0800;
    font-style: italic;
    font-size: 1.5em;
    text-align: right;
}

/* Combat */
.combat-section, 
.constellation-section{
    padding: 6em 0em;
}

.combat-images, 
.constellation-images{
    display: flex;
    justify-items: center;
    align-items: start;
    padding: 1em 0em 3em 0em;
    height: 14em;
}
.combat-images .item img, 
.constellation-images .item img{
    max-width: 65%;
    max-height: 100%;
    margin: 0 auto;
    transition: .5s;
}

.combat-images .ability-low, 
.constellation-images .ability-low{
    align-self: flex-end;
}
.combat-images .ability-mid, 
.constellation-images .ability-mid{
    align-self: center;
}

.combat-information, 
.constellation-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
}

.combat-information h3, 
.constellation-information h3{
    font-size: 2.5em;
    color: #FFFFFF;
    letter-spacing: .1em;
    margin-bottom: 1em;
    text-align: center;
}
.combat-information p, 
.constellation-information p{
    border-top: 1.5px solid #FFFFFF;
    text-align: justify;
    font-size: 1.1em;
    line-height: 2em;
    padding: 1.2em;
}

.description{
    color: #FFFFFF;
}
.description strong{
    color: #70CFEC;
}





.path{
    transform: scale(1.5);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 7s linear forwards;
}

.border{
    transform: scale(12);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s linear forwards;
}
.border-image{
    transform: scale(1.4);
}

@keyframes dash{
    to{
        stroke-dashoffset: 0;
    }
}


@media only screen and (max-width: 480px){
    html{
        scroll-snap-type: none;
    }

    header p{
        font-size: 1rem;
        top: 9rem;
        width: 90%;
    }
    .container{
        width: 100%;
    }
    
    header p{
        position: static;
        animation-name: none !important;
    }
    header .image-video-container{
        display: none;
    }

    .talents-ascension-section {
        height: 700px;
        padding: 2em 0;
    }
    .talents-ascension-section svg, .ganyu-splash{
        display: none;
    }
    .talents-ascension{
        width: 100%;
        margin: 0;
    }
    .monster, .shivada, .books{
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
        margin: 1em 0em;
    }
    .monster .item, .shivada .item, .books .item{
        max-width: 20%;
    }
    .talents-ascension .item img{
        max-height: 100%;
        display: block;
    }
    .talents-ascension .item p{
        font-size: .7em;
    }
    .talents-ascension h2{
        margin: .5em 0em;
    }

    .image-video-section{
        padding: 1em 0em;
    }
    .image-video-section svg{
        padding: 0;
    }
    .image-video-section p{
        padding-top: .2em;
        font-size: 1em;
        text-align: center;
    }
    
    

}

@media only screen and (min-width: 481px) and (max-width: 1024px){
    
}